.linha{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    
    }

h1{
    text-align: center;
    transition: .4s;
    
}

.App{
    margin: auto;
    max-width: 900px;
}


h1:hover{
    text-decoration:dotted;
    transform: scale(1.3);
}

@media screen and (max-width: 500px){
    .linha{
        display: block;
    }

    h1{
        font-size: 20px;
    }
}